<h1>Hi, I'm Thanh!</h1>
<p>
	I'm currently a student at the <%= link_to "University of Pittsburg", "http://www.pitt.edu" %> I am currently studying Pharma and hopefully by the end of next year, I will be in graduate school despite being a sophomore. More random stuff and other random stuff this is fun!
</p>