<h1>Welcome to Lists of Thanh!</h1>
<p>
	Sample Text, something something something something something something. This is a blog/personal website for me, Thanh Truong, a student at the University of Pittsburg! etc etc etc etc more text etc. 
</p>
<%= link_to "Thanh", "http://www.google.com" %>

